@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

/* Navy Blue
#003060

Blue
#055C9D

Blue Grotto
#0E86D4

Baby Blue
#68BBE3


*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Londrina Solid', cursive;
}


/* Top nav area */
li, a{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    display: flex;
    display: inline-flex;
}
.logoholder{
    display: flex;
    align-items: center;
}
.Logo{
    display: inline;
    max-width: 5vw;
    max-height: 5vh;
}
.Saltiest{
    display: inline;
    padding-left:10px;
    color:white;
}
h2{
    font-size: 2rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
header{
    display:flex;
    background-color: #68BBE3;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 9vh;
    border-radius: 4px;
    width: 80vw ;
}
.topholder{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 80vw;
    border-radius: 4px;
}

.NavLinks{
  display:flex;
  justify-content: space-between;
  padding-right:10px;
}
a{
    padding:15px;
}

/* Body Pic and Login area */
body{
    background-color: #013976;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.saltgirl{
    width: 20vw;
    height: 45vh;
    max-width: 30vw;
    max-height: 55vh;
}
.herotext{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 2.9rem;
  	color: #dbdbdb;
    ;
}
.login{
    border-radius: 8px;
    width: 85px;
    height: 40px;
    background-color: #0E86D4;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Text and bot div area */
*{
 border: 1px solid black;

}
.bottomC{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 95vw;

}
.bottom{
    color: #dbdbdb;
    height:25vh;
    background-color:#055C9D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 80vw;
    border-radius: 4px;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70vw;
    height:20vh;
    background-color:#044e8688;
    border-radius: 4px;
    text-align: center;

}


/* Footer area */
footer{
    display:flex;
    background-color: #68BBE3;
    justify-content: center;
    align-items: center;
    justify-items: space-evenly;
    height:6vh;
    border-radius: 4px;
    width: 80vw;
}
